#grid
#cockpit
  .points
    #points-green 2
    #count-rounds 0
    #points-red 2
  .buttons
    button Next player
    button Back
    button Reset
  .buttons-bot
    button Bot move
    button Bot game